.page-header{
    position: relative;
}
.page-header__mob{
    position: relative;
}
.page-header__nav{
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100vh;

    background-color: $white-color;

    font-size: 20px;

    &.is-open{
        display: block;
    }
    
    
}
.page-header__flex{
    padding: 66px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.page-header__item{
    font-size: 34px;
    line-height: 42 / 34 * 100%;

    &:not(:last-child){
        margin-bottom: 68px;
    }
}
.page-header__lang{
    font-size: 34px;
    line-height: 42 /34 *100%;
    text-align: end;

    &:not(:last-child){

        &::after{
        content: '';
        border: 2px solid #828282;
        margin: 13px 0;
    }
    }
}
.page-header__link{
    color: $grey-color;

    &:hover, &:focus{
        color: #000000;
    }
}
.page-header__left{
    display: flex;
    writing-mode: vertical-lr;
    margin-left: auto;
}
.menu-toggle{
    position: absolute;
    top: 68px;
    right: 15px;
    border: none;
    background-color: transparent;

    &.is-open{
        z-index: 1;
        fill: #000000;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.menu-toggle .icon-cross{
    display: none;
}
.menu-toggle.is-open .icon-cross{
    display: block;
}
.menu-toggle.is-open .icon-menu{
    display: none;
}

// =================

.page-header__desk{
    
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.page-header__desk-list{
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $grey-color;
    width: 100%;
}
.page-header__desk-item{
    padding: 33px 0 32px 0;
}
.page-header__desk-link{
    font-size: 18px;
    line-height: 22 / 18 * 100%;
    color: $grey-color;
    transition: color 300ms ease-in-out;

    &:hover, &:focus{
        color: $black-color;
    }
}