@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/gilroy-bold-webfont.woff') format('woff'), url('/fonts/gilroy-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/gilroy-medium-webfont.woff') format('woff'), url('/fonts/gilroy-medium-webfont.woff2') format('woff2');
}